aiofiles
aiohttp
altair
asyncpg
boto3
botocore
dask
fastparquet
fiona
folium
geopandas
geopy
hvplot
ipywidgets
matplotlib-venn
nameparser
nodejs
pandas
pandasql
phonenumbers
python-dotenv
black
pylint
prefect
psycopg2
pyarrow
pyathena
pyicu
pylint
pymapd
pymysql
pyproj
regex
rtree
s3fs
shapely
tqdm
ujson
vega_datasets
xmltodict
yapf
git+https://github.com/altair-viz/altair_pandas
asana
asyncio
slackclient
nest_asyncio